div {
  padding: 5px;
}

.list-item-title {
  font-size: 1.2em;
}

.v-list-item__avatar {
  margin-left: 16px;
  width: 70px !important;
  height: 70px !important;
}

.app-bar {
  border-top: 2.5px solid $main-color;
  border-bottom: 2.5px solid $main-color;
}

.title-logo {
  width: 13%;
}

.signin {
  padding: 0 16px;
}

.signout {
  padding: 0 16px;
}

@media screen and (max-width: 600px) {
  .title-logo {
    width: 35%;
  }
}
