.top-wrapper {
  background-color: red;
  background-image: url('https://www.pakutaso.com/shared/img/thumb/elly181027000_TP_V.jpg');
  background-size: cover;
  .container {
    padding: 0;
    height: 80vh;
    font-size: 1.9em;
    text-align: center;
    color: red;
  }
}