.top-wrapper {
  background-image: url('https://www.pakutaso.com/shared/img/thumb/elly181027000_TP_V.jpg');
  background-size: cover;
  .container {
    .top-items {
      width: 80%;
    }
    .signin {
      background-color: #ffffff;
    }
    height: 80vh;
    font-size: 1.9em;
    text-align: left;
  }
}