.signin {
  color: white;
  background-color: #A67555 !important;
  font-size: 1.5rem;
  width: 30%;
}

.btn-text-color {
  color: $main-color;
}
@media screen and (max-width: 599px){
  .signin {
    width: 80%;
  }
}