.signin {
  margin-top: 150px;
  width: 80%;
}

.btn-text-color {
  color: $main-color;
}

@media screen and (max-width: 599px){
  .signin {
    margin-top: 50px;
    width: 80%;
  }
}

small {
  color: $main-color;
}