.signup {
  margin-top: 50px;
  width: 80%;

  .btn-text-color {
    color: $main-color;
  }
  
  .v-card__subtitle {
    padding-bottom: 0;
  }

  small {
    color: $main-color;
  }

  .err-msg {
    color: #ea5550
  }
}

@media screen and (max-width: 599px){
  .signup {
    margin-top: 0;
    width: 100%;
  }
}
